{% extends '::base.html.twig' %}

{% block body %}

    <div class="page-header">
        <h1>{% trans %}title{% endtrans %}</h1>
    </div>

    <ul>
        <li>
            <a href="{{ path('physical_quantity_list') }}">{% trans %}Physical quantities{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('unit_list') }}">{% trans %}Units{% endtrans %}</a>
        </li>
    </ul>

{% endblock %}
