{% extends '::base.html.twig' %}

{% block body %}

    <h2>
        {% trans %}title{% endtrans %}
    </h2>

    <ul>
        <li>
            <a href="{{ path('physical_quantity_list') }}">{% trans %}Physical quantities{% endtrans %}</a>
        </li>
    </ul>

{% endblock %}
