{% extends '::base.html.twig' %}

{% block body %}

    <h2>
        {% trans %}Physical quantities{% endtrans %}
    </h2>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th></th>
            <th>{% trans %}Identifier{% endtrans %}</th>
            <th>{% trans %}Symbol{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for physicalQuantity in physicalQuantities %}
            <tr>
                <td>{{ physicalQuantity.label }}</td>
                <td>{{ physicalQuantity.id }}</td>
                <td>{{ physicalQuantity.symbol }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
