{% extends '::base.html.twig' %}

{% block body %}

    <div class="page-header">
        <h1>{% trans %}Physical quantities{% endtrans %}</h1>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>{% trans %}Identifier{% endtrans %}</th>
            <th>{% trans %}Symbol{% endtrans %}</th>
            <th>{% trans %}Unit of reference{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for physicalQuantity in physicalQuantities %}
            <tr>
                <th>{{ physicalQuantity.label|translate }}</th>
                <td>{{ physicalQuantity.id }}</td>
                <td>{{ physicalQuantity.symbol }}</td>
                <td>{{ physicalQuantity.unitOfReference.symbol|translate }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
